.home-view {
  width: 100vw;
  height: 90vh;
  overflow: hidden;
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(73, 8, 4, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  font-family: 'Fira Code', monospace;
}

#title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem 0 3rem;
  overflow: hidden;

}
